<%- include("partials/header.ejs") %>

<h1>HOME</h1>
<p><%= startingContent %></p>

<% posts.forEach((post) => { %>
    <h1><%= post.postTitle %></h1>
    <% if(post.postBody.length > 100){ %>
        <p>
            <%= post.postBody.slice(0,100) %> ... <a href="/posts/<%= post.postTitle %>">Read More</a>
        </p>
    <% } else { %>
        <p><%= post.postBody %></p>
    <% } %>
<% }) %>

<%- include("partials/footer.ejs") %>